body {
  position: relative;
  color: $textColor;
  background-color: $sidebarBgColor;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-family: $baseFontFamily;
  margin: 0;
}

a {
  color: $linkColor;
  text-decoration: none;
  @include single-transition(all, .2s, ease-in-out);
  &:visited { color: $linkColor; }
  &:hover { color: lighten($linkColor, 15%); }
}
p {
  margin: 0 0 1.5em 0;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: $sideWidth;
  padding: 10px 20px;
  color: #f8f8f8;
  font-size: 13px;
  height: 100%;
  min-height: 100%;
  ul { 
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: $sidebarLinkColor;
    line-height: 30px;
    &:hover {
      color: lighten($sidebarLinkColor, 30%);
    }
  }
  .site-name {
    font-size: 2.4em;
    line-height: 40px;
    margin: 10px auto;
    a {
      color: $mainBgColor;
      &:hover {
        color: $sidebarLinkColor;
      }
    }
  }
  .site-desc {
    font-size: 11px;
    font-weight: normal;
    color: #495863;
    color: rgba(255,255,255,.5);
  }
  .social-connect {
    margin: 20px auto;
    li {
      display: inline-block;
      margin-right: 8px;
      i { font-size: 14px; }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .block {
    padding: 10px;
    margin: -6px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: rgba(255,255,255,.25);
    background-color: rgba(255,255,255,.1);
    .block-title {
      font-size: 12px;
      margin: 0;
    }
    .block-cnt { margin: 0; }
    &.ad {
      position: absolute;
      bottom: 80px;
    }
  }
}

.main {
  background-color: $mainBgColor;
  margin: 0 0 0 $sideWidth+40;
  padding: $asideGap 0;
  height: 100%;
  min-height: 1000px;
  @include clearfix;
}

.announcement {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  padding: 7px 0 5px;
  border-bottom: 1px solid $hairLineColor;
  background-color: $mainBgColor;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1em;
  }
  p {
    color: $asideColor;
    margin: 0;
    padding: 0 20px;
    font-size: 14px;
    line-height: 20px;
  }
  &.sticky {
    background-color: #fff;
    opacity: .95;
    p {
      color: darken($asideColor, 50%);
    }
  }
}

.pager {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: -2.8em;
  max-width: $copyMaxWidth + $asideWidth;
  li {
    list-style: none;
    a { 
      display: inline-block;
      padding: 2.8em 5%;
      border-right: 1px solid $hairLineColor;
      &:hover {
        background-color: darken($mainBgColor, 5%);
      }
    }
    &.next a {
      float: right;
      border-left: 1px solid $hairLineColor;
    }
  }
}

.copyright {
  position: fixed;
  bottom: 0;
  font-size: 12px;
  color: #495863;
  color: rgba(255,255,255,.25);
  p { margin: 10px 20px; }
}