---
changefreq: weekly
priority: 1
pageable: true
per_page: 5
---

<div id="posts">
  <% page_articles.each_with_index do |article, i| %>
    <article class="post">
      <%= partial 'shared/post_with_summary', locals: { article: article } %>
    </article>
  <% end %>

  <% if paginate %>
    <ul class="pager">
      <% if next_page %>
        <li class="next"><%= link_to "Older &rarr;", next_page %></li>
      <% end %>
      <% if prev_page %>
        <li class="previous"><%= link_to "&larr; Newer", prev_page %></li>
      <% end %>
    </ul>
  <% end %>
</div>