---
changefreq: weekly
priority: 0.7
---

<article class="post profile">

  <header>
    <h2 class="title">~/Bin ?</h2>
  </header>

  <aside class="aside-block">
    <ul class="meta">
      <li class="author-photo">
        <a href="<%= data.author['ben'].link %>">
          <%= image_tag data.author['ben'].avatar %>
        </a>
      </li>
      <li class="author"><strong><%= data.author['ben'].name %></strong> <br>设计师&开发者 <br>Co-founder of Pragmatic.ly</li>
    </ul>
  </aside>

  <div class="content">

    <p>为什么用个终端的路径, 看起来是个人目录下的可执行文件目录. <br>其实, 我名字拼音是Bin, 然后这里也确实是收集我个人文章/照片/作品的目录, make sense?</p>

    <p>何斌是一名网站设计师兼应用开发者, 他喜欢简单优美的设计。<br>目前他和太太及可爱的女儿居住在一个宁静的小山村，所以在他的设计里有许多清新自然的元素。除了设计之外，他同时对技术保持着热情，了解如何在开发上和设计上取得一个平衡。</p>

    <p>你可以通过以下方式找到他:</p>
    
    <ul class="connect">
      <li><a href="mailto:beenhero@gmail.com"><i class="icon-envelope"></i></a></li>
      <li><a href="//twitter.com/beenhero"><i class="icon-twitter"></i></a></li>
      <li><a href="//weibo.com/beenhero"><i class="icon-weibo"></i></a></li>
      <li><a href="//facebook.com/beenhero"><i class="icon-facebook"></i></a></li>
    </ul>
  </div>
  
</article>

